@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

/* Navbar Css  */
* {
  margin: 0px;
  padding: 0px;
  background: none;
  font-family: 'Nunito', sans-serif;

}

body {
  background-color: #f6f4f2;
}

hr {
  margin-top: 30px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact a {
  text-decoration: none;
  color: white;
  font-size: large;
}

.contact a:hover {
  color: black;
}

.name a {
  font-size: xxx-large;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px white;
  text-decoration: none;
}

.nav {
  width: 100%;
  background-color: #949596;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  padding: 0px 20px;
  font-size: x-large;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li a:hover {
  color: black;
}

.icon .first-list {
  position: relative;
}

.icons .cart-count {
  position: absolute;
  top: 14px;
  right: 95px;
  padding: 2px 8px;
  background-color: lightgray;
  border-radius: 100%;
}

/* Home page */
.home-img {
  background: url("./images/homebanner.jpg");
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  max-height: 600px;
  padding: 14% 0px;
  ;
}

.right {
  margin-top: 10px;
  position: absolute;
  right: 10%;
  top: 20%;
  line-height: 2rem;
}

.right a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 4px;
  border: 1px solid grey;
  background-color: lightgrey;
  border-radius: 5px;
}

.right a:hover {
  background-color: grey;
  color: white;
}

.categories-heading {
  font-size: xx-large;
  font-weight: bolder;
  margin: 40px;
}

.category-images ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.category-images ul img {
  width: 200px;
  height: 200px;
}

.category-images ul li {
  list-style: none;
}

.category-images ul li a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: bold;
  line-height: 40px;
}

.ends-soon {
  background-color: #f9f9c6;
  margin: 35px 0px;
}

.ends .end-heading {
  font-size: xxx-large;
  font-weight: bolder;
}

.loved-heading p {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 40px;
}

.loved-img {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.loved-img img {
  width: 200px;
  height: 200px;
}

/* Products Page css */


.products-page svg {
  margin: 0 auto;
}

.items img {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 10px;
}

.items p {
  text-align: center;

}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.products a {
  text-decoration: none;
  color: black;
  background-color: white;
  width: 30%;
}

.price {
  margin: 10px;
}

.titles {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.titles a {
  text-decoration: none;
  font-size: larger;
  color: black;
}

.filtering {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.filters {
  display: none;
}

.active {
  display: block;

}

.titles a.activate {
  color: red;
}

.border {
  border: 2px solid red;
}


.all-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lines {
  font-size: larger;
}

.all-categories img {
  width: 120px;
  margin: 10px 30px;
  height: 120px;
  border-radius: 50%;
}

.all-categories a {
  text-decoration: none;
  color: black;
  font-size: large;
}

.shop-color ul {
  display: flex;
  flex-wrap: wrap;
}

.shop-color ul li {
  list-style: none;
  margin: 30px;
}

.shop-color ul li.active {
  border: 2px solid darkblue;
  margin: 18px;
  padding: 10px 0px;
  border-radius: 100%;
}

.slider {
  position: absolute;
  width: 400px;
  margin: 30px;
  height: 8px;
  background-color: gray;
}

.slider .thumb {
  top: -9px;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(73, 73, 73);
  background-color: white;
  border-radius: 100%;
}

.black a {
  padding: 10px 20px;
  background-color: black;
  border-radius: 100%;
}

.white a {
  padding: 10px 20px;
  background-color: rgb(206, 204, 204);
  border-radius: 100%;
}

.purple a {
  padding: 10px 20px;
  background-color: purple;
  border-radius: 100%;
}

.red a {
  padding: 10px 20px;
  background-color: red;
  border-radius: 100%;
}

.blue a {
  padding: 10px 20px;
  background-color: blue;
  border-radius: 100%;
}

.mud a {
  padding: 10px 20px;
  background-color: #b89c81;
  border-radius: 100%;
}

.no-data {
  display: block;
  font-size: larger;
}

/* Details Page */

.all-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 60px 0px;
}

.detail-img img {
  width: 500px;
  height: 500px;
}


.detail-img {
  width: 44%;
}

.product-desc {
  line-height: 2.5rem;
  text-align: justify;
  width: 50%;
}

.cart-button {
  margin: 25px;
}

.product-desc a,
.cart-button a {
  padding: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid grey;
  background-color: rgb(190, 190, 190);
  border-radius: 5px;

}

.product-desc a:hover,
.cart-button a:hover {
  background-color: grey;
  color: white;
}

p.title {
  font-size: xx-large;
}


p.rating {
  font-size: larger;
  font-weight: bold;
}

p.stock {
  font-size: larger;
  color: red;
}

p.color {
  font-size: large;
}

p.description {
  font-size: large;
  line-height: 1.5rem;
}

p.items {
  font-size: large;
  font-weight: bolder;
}

.item-desc {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 15px;
}

/* Cart page */

.cart table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin: 50px 0px;
}

.cart table {
  width: 100%;
}

.cart svg {
  cursor: pointer;
}

.price-adjust {
  display: inline-block;

}

.price-adjust .adjustments {
  font-size: 20px;
  border-bottom: 1px solid grey;
  padding: 5px;
  margin: 10px;
}

.cart img {
  width: 100px;
  height: 100px;
}

.counter {
  display: flex;
  justify-content: space-around;
}

.counter svg {
  cursor: pointer;
}

p.cart-empty {
  font-size: large;
  margin: 40px;
}

/* Contact us  page*/
.contacting {
  display: flex;
  justify-content: center;
  min-height: 200px;
  gap: 30px;
}

.message {
  width: 30%;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
}

.message a {
  padding: 5px;
  text-decoration: none;
  color: black;
  border: 1px solid grey;
  background-color: rgb(190, 190, 190);
  border-radius: 5px;
}

.message a:hover {
  color: white;
  background-color: gray;
}

.message span {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.heading {
  font-size: larger;
  font-weight: bold;
}

.heading-contact p {
  font-size: xx-large;
  font-weight: bolder;
  text-shadow: 2px 2px #282c34;
  padding: 20px;
  margin: 10px;

}

.contact-content {
  line-height: 2rem;
  font-size: 15px;
  text-align: justify;
  padding: 25px;
  min-height: 160px;
}

/* About us page */
.headings .about-heading {
  font-size: large;
  font-weight: bold;
  margin: 15px 0px;
}

.about {
  text-align: justify;
}

.headings .about-desc {
  margin: 18px;
}

.about-desc ul {
  margin: 0px 25px;
  font-size: medium;
}

/* Footer page */
.foot {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  margin-top: 40px;
}

.foot li {
  list-style: none;
}

.foot a {
  text-decoration: none;
  color: black;
  line-height: 2rem;
}

.foot a p {
  font-size: large;
  font-weight: bold;
  line-height: 2.5rem;
}

.foot-stay {
  width: 30%;
  line-height: 2rem;
}

.email input[type="email"] {
  width: 70%;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 2px;
}

.foot-btn {
  width: 20%;
  padding: 10px;
  border: 1px solid grey;
  background-color: grey;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.icons ul {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.icons ul li a {

  font-size: xx-large;
}

.copyright {
  margin-top: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}