@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

/* Navbar Css  */
* {
  margin: 0px;
  padding: 0px;
  background: none;
  font-family: 'Nunito', sans-serif;

}

body {
  background-color: #f6f4f2;
}

hr {
  margin-top: 30px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact a {
  text-decoration: none;
  color: white;
  font-size: large;
}

.contact a:hover {
  color: black;
}

.name a {
  font-size: xxx-large;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px white;
  text-decoration: none;
}

.nav {
  width: 100%;
  background-color: #949596;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  padding: 0px 20px;
  font-size: x-large;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li a:hover {
  color: black;
}

.icon .first-list {
  position: relative;
}

.icons .cart-count {
  position: absolute;
  top: 14px;
  right: 95px;
  padding: 2px 8px;
  background-color: lightgray;
  border-radius: 100%;
}

/* Home page */
.home-img {
  background: url("./images/homebanner.jpg");
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  max-height: 600px;
  padding: 14% 0px;
  ;
}

.right {
  margin-top: 10px;
  position: absolute;
  right: 10%;
  top: 20%;
  line-height: 2rem;
}

.right a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 4px;
  border: 1px solid grey;
  background-color: lightgrey;
  border-radius: 5px;
}

.right a:hover {
  background-color: grey;
  color: white;
}

.categories-heading {
  font-size: xx-large;
  font-weight: bolder;
  margin: 40px;
}

.category-images ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.category-images ul img {
  width: 200px;
  height: 200px;
}

.category-images ul li {
  list-style: none;
}

.category-images ul li a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: bold;
  line-height: 40px;
}

.ends-soon {
  background-color: #f9f9c6;
  margin: 35px 0px;
}

.ends .end-heading {
  font-size: xxx-large;
  font-weight: bolder;
}

.loved-heading p {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 40px;
}

.loved-img {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.loved-img img {
  width: 200px;
  height: 200px;
}

/* Products Page css */


.products-page svg {
  margin: 0 auto;
}

.items img {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 10px;
}

.items p {
  text-align: center;

}

.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
}

.products a {
  text-decoration: none;
  color: black;
  background-color: white;
  width: 30%;
}

.price {
  margin: 10px;
}

.titles {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.titles a {
  text-decoration: none;
  font-size: larger;
  color: black;
}

.filtering {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.filters {
  display: none;
}

.active {
  display: block;

}

.titles a.activate {
  color: red;
}

.border {
  border: 2px solid red;
}


.all-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lines {
  font-size: larger;
}

.all-categories img {
  width: 120px;
  margin: 10px 30px;
  height: 120px;
  border-radius: 50%;
}

.all-categories a {
  text-decoration: none;
  color: black;
  font-size: large;
}

.shop-color ul {
  display: flex;
  flex-wrap: wrap;
}

.shop-color ul li {
  list-style: none;
  margin: 30px;
}

.shop-color ul li.active {
  border: 2px solid darkblue;
  margin: 18px;
  padding: 10px 0px;
  border-radius: 100%;
}

.slider {
  position: absolute;
  width: 400px;
  margin: 30px;
  height: 8px;
  background-color: gray;
}

.slider .thumb {
  top: -9px;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(73, 73, 73);
  background-color: white;
  border-radius: 100%;
}

.black a {
  padding: 10px 20px;
  background-color: black;
  border-radius: 100%;
}

.white a {
  padding: 10px 20px;
  background-color: rgb(206, 204, 204);
  border-radius: 100%;
}

.purple a {
  padding: 10px 20px;
  background-color: purple;
  border-radius: 100%;
}

.red a {
  padding: 10px 20px;
  background-color: red;
  border-radius: 100%;
}

.blue a {
  padding: 10px 20px;
  background-color: blue;
  border-radius: 100%;
}

.mud a {
  padding: 10px 20px;
  background-color: #b89c81;
  border-radius: 100%;
}

.no-data {
  display: block;
  font-size: larger;
}

/* Details Page */

.all-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 60px 0px;
}

.detail-img img {
  width: 500px;
  height: 500px;
}


.detail-img {
  width: 44%;
}

.product-desc {
  line-height: 2.5rem;
  text-align: justify;
  width: 50%;
}

.cart-button {
  margin: 25px;
}

.product-desc a,
.cart-button a {
  padding: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid grey;
  background-color: rgb(190, 190, 190);
  border-radius: 5px;

}

.product-desc a:hover,
.cart-button a:hover {
  background-color: grey;
  color: white;
}

p.title {
  font-size: xx-large;
}


p.rating {
  font-size: larger;
  font-weight: bold;
}

p.stock {
  font-size: larger;
  color: red;
}

p.color {
  font-size: large;
}

p.description {
  font-size: large;
  line-height: 1.5rem;
}

p.items {
  font-size: large;
  font-weight: bolder;
}

.item-desc {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 15px;
}

/* Cart page */

.cart table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin: 50px 0px;
}

.cart table {
  width: 100%;
}

.cart svg {
  cursor: pointer;
}

.price-adjust {
  display: inline-block;

}

.price-adjust .adjustments {
  font-size: 20px;
  border-bottom: 1px solid grey;
  padding: 5px;
  margin: 10px;
}

.cart img {
  width: 100px;
  height: 100px;
}

.counter {
  display: flex;
  justify-content: space-around;
}

.counter svg {
  cursor: pointer;
}

p.cart-empty {
  font-size: large;
  margin: 40px;
}

/* Contact us  page*/
.contacting {
  display: flex;
  justify-content: center;
  min-height: 200px;
  flex-wrap: wrap;
  gap: 40px;
}

.message {
  width: 30%;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
}

.message a {
  padding: 5px;
  text-decoration: none;
  color: black;
  border: 1px solid grey;
  background-color: rgb(190, 190, 190);
  border-radius: 5px;
}

.message a:hover {
  color: white;
  background-color: gray;
}

.message span {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.heading {
  font-size: larger;
  font-weight: bold;
}

.heading-contact p {
  font-size: xx-large;
  font-weight: bolder;
  text-shadow: 2px 2px #282c34;
  padding: 20px;
  margin: 10px;

}

.contact-content {
  line-height: 2rem;
  font-size: 15px;
  text-align: justify;
  padding: 25px;
  min-height: 160px;
}

/* About us page */
.headings .about-heading {
  font-size: large;
  font-weight: bold;
  margin: 15px 0px;
}

.about {
  text-align: justify;
}

.headings .about-desc {
  margin: 18px;
}

.about-desc ul {
  margin: 0px 25px;
  font-size: medium;
}

/* Footer page */
.foot {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  flex-wrap: wrap;
  margin-top: 40px;
}

.foot li {
  list-style: none;
}

.foot a {
  text-decoration: none;
  color: black;
  line-height: 2rem;
}

.foot a p {
  font-size: large;
  font-weight: bold;
  line-height: 2.5rem;
}

.foot-stay {
  width: 30%;
  line-height: 2rem;
}

.email input[type="email"] {
  width: 70%;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 2px;
}

.foot-btn {
  width: 20%;
  padding: 10px;
  border: 1px solid grey;
  background-color: grey;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.icons ul {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.icons ul li a {

  font-size: xx-large;
}

.copyright {
  margin-top: 40px;
}

/* Checkout Page */
.checkout{
  display: flex;
  justify-content: space-between;
}
.checkout-right{
  width: 35%;
}
.order-summary{
  display: flex;
  justify-content: space-evenly;
}
.order-summary img{
  width: 100px;
}
.order-name{
  font-size: 13px;
}
.checkout-left{

  width: 65%;
}
.checkout-left form{
  margin: 0px 30px;
}
.checkout-left .inputs{
  display: inline;
  margin-right: 50px;
  width: 50%;
  
}
.checkout-left select{
  letter-spacing: 1px;
  height: 36px;
  padding: 4px 15px;
  box-shadow: none;
  border-color: #ccc;
  width:35%;
}
.checkout-left .inputs input{
  letter-spacing: 2px;
  height: 25px;
  padding: 4px 15px;
  box-shadow: none;
  border-color: #ccc;
  width: 35%;
  border: 1px solid #ccc;
}
.full-width input{
  letter-spacing: 2px;
  height: 25px;
  padding: 4px 15px;
  box-shadow: none;
  border: 1px solid #ccc;
  width: 80%;
}

@media (max-width: 1306px) {
  .icons .cart-count {
    right: 78px;
  }
}

@media (max-width:1258px) {
  .icons .cart-count {
    right: 54px;
  }

  .contact-content {
    line-height: 1.5rem;
    padding: 15px;
  }
}

@media (max-width: 1214px) {

  .icons .cart-count {
    right: 34px;
  }
}

@media (max-width: 1170px) {

  .icons .cart-count {
    right: 13px;
  }

  .contact-content {
    min-height: 190px;
  }

  .detail-img {
    width: 80%;
  }

  .product-desc {
    width: 80%;
  }


}

@media (max-width: 1000px) {
  .email input[type="email"] {
    width: 55%;
  }

  .foot-btn {
    width: 27%;
  }
}

@media (max-width: 768px) {
  .icons .cart-count {
    right: 13px;
    font-size: 12px;
    padding: 2px 6px;
  }

  .icons ul li a {
    font-size: x-large;
  }

  .name a {
    font-size: xx-large;
    text-shadow: 1px 2px white;
  }

  .navbar ul li {
    font-size: large;
  }

  .foot a {
    line-height: 1.5rem;
  }

  .foot-stay {
    line-height: 1.5rem;
    width: 43%;
  }

  .email input[type="email"] {
    width: 54%;
    padding: 6px;
  }

  .foot-btn {
    width: 30%;
    padding: 6px;
  }

  .icons ul li a {
    font-size: large;
  }

  .right {
    margin-top: 10px;
    position: absolute;
    right: 2%;
    top: 16%;
    line-height: 2rem;
  }

  h2.heading2 {
    font-size: 18px;
  }

  .right a {
    font-size: 13px;
    padding: 3px;
  }

  .categories-heading {
    font-size: x-large;
  }

  .ends .end-heading {
    font-size: xx-large;
  }

  .all-categories img {
    width: 100px;
    margin: 0px 23px;
    height: 100px;
  }

  .items img {
    padding: 0px;
    margin: 10px;
    height: 130px;
    width: 130px;
  }

  .products {
    gap: 40px;
  }

  .shop-color ul li {
    list-style: none;
    margin: 13px;
  }

  .black a,
  .white a,
  .purple a,
  .blue a,
  .red a,
  .mud a {
    padding: 6px 16px;
  }

  .slider {

    width: 260px;
    margin: 20px;

  }

  .heading-contact p {
    font-size: x-large;

  }

  .contacting {
    flex-direction: column;
    align-items: center;
  }

  .message {
    width: 80%;

  }

  .contact-content {
    min-height: 48px;
  }

  .message a {
    padding: 2px;

  }

  .cart-table {
    width: 100%;
    overflow-x: auto;
  }

  .cart-table>table {

    width: 700px;
  }

  .price-adjust .adjustments {
    font-size: 17px;
    border-bottom: 1px solid grey;
    padding: 5px;
    margin: 4px;
  }

  .shop-color ul li.active {
    padding: 6px 0px;
    margin: 5px
  }
}

@media(max-width: 584px) {
  .all-categories img {
    width: 75px;
    margin: 0px 15px;
    height: 75px;
  }

  .all-categories a {
    font-size: 15px;
  }

  .titles a {

    font-size: 15px;
  }

  .items img {
    height: 125px;
    width: 100px;
  }

  .navbar ul li {
    font-size: 15px;
  }

  .products a {
    align-items: center;
    width: 80%;
  }

  .items {
    background-color: white;
  }

  .headings .about-desc {
    font-size: 13px;
  }

  .about-desc ul {
    font-size: 12px;
  }

  .headings .about-heading {
    font-size: medium;

  }

  .product-desc {
    width: 70%;
  }

  .detail-img img {
    width: 350px;
    height: 350px;
  }

  .cart table,
  td,
  th {
    padding: 5px;
  }
  .foot {
    display: block;
    text-align: justify;
    margin-top: 40px;
}

}

@media(max-width:425px) {
  .foot {
    display: block;
    text-align: justify;
    margin-top: 40px;
  }

  .foot-contact,
  .foot-education,
  .foot-stay,
  .foot-brand,
  .foot-care {
    width: 100%;
  }

  .name a {
    font-size: x-large;
  }

  .navbar ul li {
    font-size: 14px;
  }

  .contact a {
    font-size: 13px;
  }

  .icons ul li a {
    font-size: 25px;
  }

  .icons .cart-count {
    right: 3px;
    font-size: 12px;
    top: 15px;
    padding: 3px 7px;
  }

  .navbar ul li {
    font-size: 14px;
    padding: 2px 11px;
  }

  .categories-heading {
    font-size: x-large;
  }

  .loved-heading p {
    font-size: x-large;
  }

  h2.heading2 {
    font-size: 12px;
    margin-top: 10px;
  }

  .right a {
    font-size: 10px;
    padding: 1px;
  }

  .right {
    line-height: 1rem;
  }

  .copyright h4 {
    font-size: 15px;
  }

  .all-categories img {
    width: 55px;
    margin: 0px 8px;
    height: 55px;
  }

  .all-categories a {
    font-size: 11px;
  }

  .shop-color ul li {
    margin: 10px;
  }

  .slider {
    width: 230px;
    margin: 15px;
  }

  .titles a {
    font-size: 13px;
  }

  .detail-img img {
    width: 250px;
    height: 300px;
  }

  p.title {
    font-size: x-large;
  }

  p.description {
    font-size: medium;
    line-height: 18px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}