@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

/* Navbar Css  */
* {
  margin: 0px;
  padding: 0px;
  background: none;
  font-family: 'Nunito', sans-serif;

}

body {
  background-color: #f6f4f2;
}

hr {
  margin-top: 10px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact a {
  text-decoration: none;
  color: white;
  font-size: large;
}

.contact a:hover {
  color: black;
}

.name a {
  font-size: xx-large;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px white;
  text-decoration: none;
}

.nav {
  width: 100%;
  background-color: #949596;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  padding: 0px 20px;
  font-size: x-large;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li a:hover {
  color: black;
}

/* Home page */
.home-img {
  background: url("./images/homebanner.jpg");
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  max-height: 600px;
  padding: 14% 0px;
  ;
}

.right {
  margin-top: 10px;
  position: absolute;
  right: 10%;
  top: 20%;
  line-height: 2rem;
}

.right a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 4px;
  border: 1px solid grey;
  background-color: lightgrey;
  border-radius: 5px;
}

.right a:hover {
  background-color: grey;
  color: white;
}

.categories-heading {
  font-size: xx-large;
  font-weight: bolder;
  margin: 40px;
}

.category-images ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.category-images ul img {
  width: 200px;
  height: 200px;
}

.category-images ul li {
  list-style: none;
}

.category-images ul li a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: bold;
  line-height: 40px;
}

/* Products Page css */


.products-page .sc-beySPh.gZmPOF svg {
  margin: 0 auto;
}
.items img {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 10px;
}

.items p {
  text-align: center;

}

.products {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 30px;
  margin-top: 50px;
}

.products a {
  text-decoration: none;
  color: black;
  background-color: white;
}

.price {
  margin: 10px;
}

.titles {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.titles a {
  text-decoration: none;
  font-size: larger;
  color: black;
}

.filtering {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.filters {
  display: none;
}

.active {
  display: block;
}
.titles a.activate {
  color: red;
}
.border{
  border: 2px solid red;
}


.all-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lines{
  font-size: larger;
}
.all-categories img {
  width: 120px;
  margin: 10px 30px;
  height: 120px;
  border-radius: 50%;
}

.all-categories a {
  text-decoration: none;
  color: black;
  font-size: large;
}

.all-colors ul {
  display: flex;
  flex-wrap: wrap;
}

.all-colors ul li {
  list-style: none;
  margin: 30px;
}

.slider-price input {
  width: 400px;
  margin: 30px;
}

.black a {
  padding: 10px 20px;
  background-color: black;
  border-radius: 100%;
}

.white a {
  padding: 10px 20px;
  background-color: rgb(206, 204, 204);
  border-radius: 100%;
}

.purple a {
  padding: 10px 20px;
  background-color: purple;
  border-radius: 100%;
}

.red a {
  padding: 10px 20px;
  background-color: red;
  border-radius: 100%;
}

.blue a {
  padding: 10px 20px;
  background-color: blue;
  border-radius: 100%;
}

.mud a {
  padding: 10px 20px;
  background-color: #b89c81;
  border-radius: 100%;
}

/* Footer page */
.foot {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  margin-top: 40px;
}

.foot li {
  list-style: none;
}

.foot a {
  text-decoration: none;
  color: black;
  line-height: 2rem;
}

.foot a p {
  font-size: large;
  font-weight: bold;
  line-height: 2.5rem;
}

.foot-stay {
  width: 30%;
  line-height: 2rem;
}

.email input[type="email"] {
  width: 70%;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 2px;
}

.foot-btn {
  width: 20%;
  padding: 10px;
  border: 1px solid grey;
  background-color: grey;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.icons ul {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.icons ul li a {

  font-size: xx-large;
}

.copyright {
  margin-top: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}